.container{
    background: #FAFAF9;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background: #FFFFFF;
    width: 400px;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    font-family: "Sora", sans-serif;
}
.cactus{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}
button{
    border-radius: 50px;
    border: none;
    background: #E6D6FC;
    padding: 5px 20px;
    color: #883AE1;
    font-weight: 700;
    font-size: 0.8rem;
}
.title{
    font-size: 18px;
}
.description{
    color: #6C727F;
    font-size: 14px;
}
.auther{
    color: #6C727F;
    font-size: 12px;
}
